<div align="center" class="container">

<h1>New article</h1>
<%= render "form", article:@article %>
<p align="center"> <%= link_to "Back to articles", articles_path,class:"btn btn-primary" %> </p>

</div>
