<form class="d-flex flex-column align-items-center  " action="<%= search_path %>">
        <input class="ellipticalTextBox m-2" name="q" type="search" placeholder="Search" aria-label="Search">

        <button align="center" class="ellipticalButton m-2" type="submit">Search</button>
</form>
