<div class="container card mt-3 mb-3">
  <h1><%= user.full_name %>'s Personal Home Page</h1>
  <p>You can read more about me, or checkout my blog.</p>
  <div class="card-actions mb-3">
    <%= link_to "Blog", user, class:"btn btn-primary" %>
  </div>

</div>
